crewAI
aiohttp
groq
huggingface-hub
Jinja2
langchain
langchain-community
langchain-core
langchain-groq
langsmith
numpy
openai
pandas
pillow
pydantic
requests
SQLAlchemy
streamlit
tiktoken
tokenizers
torch
tqdm
transformers

